<article class="beast-entry" is-open="false">
    <p class="beast-name">{{name}}</p>
    <p class="beast-challenge-rating">{{challenge_rating}}</p>
    <p class="beast-size">{{size}}</p>
    <p class="beast-environments">{{environments}}</p>
    <p class="beast-hit-points">{{hit_points}}</p>
    <p class="beast-armor-class">{{armor_class}}</p>
    <p class="beast-strength">{{strength}}</p>
    <p class="beast-dexterity">{{dexterity}}</p>
    <p class="beast-constitution">{{constitution}}</p>
    <p class="beast-intelligence">{{intelligence}}</p>
    <p class="beast-wisdom">{{wisdom}}</p>
    <p class="beast-charisma">{{charisma}}</p>
</article>